<%- include('../partials/header') %>

<main>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h5>Search result For - <%= searchTerm %> </h5>
            <% if(post.length === 0) { %>
            <p class="text-center">Nothing Found</p>
            <% } else {%>
            <% for(let p of post) {%>
            <div class="card card-body">
                <a href="/<%= p._id %>" style="color: #222222;">
                    <h5><%= p.title %></h5>
                    <p><%= truncate(p.body) %></p>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>

        <div class="col-md-12 mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    <li class="page-item <%= currentPage === 1 ? 'disabled': '' %>">
                        <a class="page-link" href="<%=`/search?term=${searchTerm}&page=${currentPage - 1}`%>" style="color: #00695c;">Previous
                        </a></li>

                    <% for(let i = 1; i <= totalPage; i++) {%>
                    <li class="page-item">
                        <a class="page-link" href="<%=`/search?term=${searchTerm}&page=${i}`%>" style="color: #00695c;"><%= i %>
                        </a></li>
                    <% } %>

                    <li class="page-item <%= currentPage >= totalPage ? 'disabled' : '' %>"><a class="page-link" href="<%=`/search?term=${searchTerm}&page=${currentPage + 1}`%>"
                            style="color: #00695c;">Next
                        </a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>